*{
    margin: 0px;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
}
.inner-cal{
    border: 1px solid rgb(19, 165, 223);
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* background-color: black; */

}

/* display section */
.display-box{
    width: 50vw;
    height: 20vh;
   
}
.disp-box{
    
}
.display-box input{
    text-align: right;
    width: 100%;
    height: 100%;
    font-size: 4em;
    background-color: rgb(34, 31, 31);
}
/* calculator body */
.calc-body{
    height: 80vh;
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.calc-body button{
    color:rgb(19, 165, 223) ;
    font-size: larger;
    height: 20vh;
    width: 100%;
    background-color: rgb(34, 31, 31);
    border: 2px solid rgb(19, 165, 223);
}

.calc-body button:hover{
    font-size: larger;
    height: 20vh;
    width: 100%;
    background-color: black;
}